.featuredProducts{
    margin: 100px 100px;
}

.flex-center {
    @apply flex justify-center items-center
}
.title {
    flex: 2;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: capitalize;
}
.desc {
    flex: 3;
    color: gray;
}
